<div class='logo'>
  <h1>Time Tracker</h1>
</div>

<% if current_user %>
  <ul class="custom-nav nav nav-tabs">
    <li class="nav-item">
      <%= link_to "", root_path, class: "icon-home nav-icon nav-link #{ active?(root_path) }" %>
    </li>
    <%= render 'shared/employee_nav_items' if employee? %>
    <%= render 'shared/audit_log_tab' if admin? %>
    <li class="dropdown  nav-item">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link">Account<strong class="caret"></strong></a>
      <div class="dropdown-menu">
        <%= render 'shared/admin_dropdown' if admin? %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
<% end %>