<div class='logo'>
  <h1>Time Tracker</h1>
</div>

<% if current_user %>
  <ul class="custom-nav nav nav-tabs">
    <li class="nav-item">
      <%= link_to "Home", root_path, class: "nav-link #{ active?(root_path) }" %>
    </li>
    <li class="nav-item">
      <%= link_to "Time Entries", posts_path, class: "nav-link #{ active?(posts_path) }" %>
    </li>
    <%= render 'shared/audit_log_tab' %>
    <li class="nav-item">
      <%= link_to "Add New Entry", new_post_path, id: 'new_post_from_nav', class: "nav-link #{ active?(new_post_path) }" %>
    </li>
    <li class="dropdown  nav-item">
      <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link">Account<strong class="caret"></strong></a>
      <div class="dropdown-menu">
        <% if current_user.try(:type) == 'AdminUser' %>
          <%= link_to "Admin Dashboard", admin_root_path, class: "dropdown-item" %>
          <div class="dropdown-divider"></div>
        <% end %>
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
  </ul>
<% end %>